body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(to bottom left,rgb(255, 248, 235), 70%, rgb(255, 225, 172));
}

header, footer {
    min-height: 50px;
    margin: 0 1em;
}

footer > div {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    background-color: #efe;
}

header > h1 {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    background-color: #efe;
}

ul {
    list-style: none;
}

hr {
    margin: auto;
}

.container {
    width: 100%;
    display: flex;
}

/*-----------------------------------*/

nav {
    width: 140px;
    height: fit-content;
}

nav > ul {
    margin: 20px auto;
}

article {
    flex-grow: 15;
    text-align: center;
}

article > div {
    display: inline-block;
    margin: 1em;
    text-align: left;
    max-width: 80%;
}

article, nav {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ded;
    color: #444;
    box-shadow: 2px 2px 2px #ccc;
    margin: 1%;
}

/*-----------------------------------*/

a:link, a:visited {
    color: #444;
}

a:link#currentPage, a:visited#currentPage {
    font-weight: bolder;
    text-decoration: none;
    outline: none;
    font-size: large;
}