.wrapper.aliments {
    grid-template:
    "liste-aliment" 1fr;
    height: 90vh;
    overflow-y: scroll;
}

.wrapper.aliments .liste-aliment {
    grid-area: liste-aliment;
}

.wrapper.aliments td, .wrapper.mes-repas td {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    table-layout: fixed;
}

.btns {
    height: 4em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#add-conso, #modify-conso, #delete-conso {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* ----- Layer ajout de consommation ----- */
.layer {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template:
    ". . ." 2fr
    ". blocAdd ." 3fr
    ". . ." 2fr
    / 3fr 4fr 3fr;
}

.layer .bloc {
    position: relative;
    grid-area: blocAdd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.layer .bloc * {
    text-align: center;
    margin: 1em auto;
}

.layer span {
    display: block; 
    position: absolute; 
    top: 0; 
    right: 0; 
    cursor: pointer;
}