.wrapper.dashboard {
    grid-template: 
    "bloc1 bloc2" 2fr
    "bloc3 bloc3" 3fr
    / 1fr 2fr;
}

.wrapper.dashboard .text {
    text-align: center;
    font-size: large;
}

/* ----- Module Barre de Progrès ----- */

.wrapper.dashboard .progress {
    margin-left: 1em;
    grid-area: bloc1;
}

.wrapper.dashboard .bar-container {
    margin: 1em auto;
    width: 90%;

    background-color: var(--secondary-warm-color-1);
    border-radius: 20px;
}
  
.wrapper.dashboard #bar {
    width: 30%;
    height: 30px;

    background-image: linear-gradient(135deg, var(--secondary-warm-color-4) 0%, var(--secondary-warm-color-0) 100%);
    border-radius: 20px;
}


.wrapper.dashboard #calories-count {
    margin: 0;
    margin-top: 30px;
    font-size: 39px;
    font-weight: bolder;
}

/* ----- Module Graphique ----- */

.wrapper.dashboard .chart {
    margin-right: 1em;
    grid-area: bloc2;
}

.wrapper.dashboard .chart h2 {
    margin: 0.5em 0;
    text-align: center;
    font-weight: bold;
}

.wrapper.dashboard canvas {
    width: 700px !important;
    height: 150px !important;
    margin: 6px auto;
}

/* ----- Module Tableau ----- */

.wrapper.dashboard .table {
    margin: 0 1em;
    grid-area: bloc3;
}

.wrapper.dashboard .table h2 {
    margin: 0.5em 0;
    text-align: center;
    font-weight: bold;
}

#conso-summary_wrapper { /* Styles for datatable - add "!important" on every property*/
    margin: 1em !important;
}