body {
    padding: 0;
    margin: 0;

    background-color: var(--bg-color);

    height: 100vh;
    min-height: 100vh;

    
    font-family: 'Century Gothic', sans-serif;
    color: var(--secondary-cool-color-4);
}

a {
    text-decoration: 1px none transparent;
    font-weight: 500;
}

.container {
    display: grid;
    
    grid-template:
    "nav ." 1fr
    "nav wrapper" 10fr
    "nav ." 1fr
    "nav footer" 50px
    / 225px 1fr;
    justify-items: stretch;

    height: 100%;
}

.sidebar {
    padding: 20px 0;

    grid-area: nav;
    background-color: var(--primary-color-0);

    width: 225px;
    left: 0;
    top: 0;
    
    z-index: 2;
}

.footer {
    grid-area: footer;
    background-color: var(--primary-color-4);
    
    height: 50px;
    left: 225px;
    bottom: 0;

    z-index: 3;
}

.wrapper {
    display: grid;
}

.bloc {
    margin: 1em;

    background-color: var(--bloc-color);
    box-shadow: 5px 5px 10px #ddd4c5;
    
    border: 1px solid #aaa495;
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

button {
    margin: 0 1.5em;
    padding: 0.5em 1em;

    background-color: var(--primary-color-0);
    border: 2px solid var(--primary-color-3);
    border-radius: 10px;
    font-weight: bold;
    color: var(--secondary-cool-color-4);
}

button:hover {
    cursor: pointer !important;
    background-color: var(--primary-color-3);
    border-color: var(--primary-color-0);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-warm-color-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-warm-color-3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-warm-color-4);
}